<%= form_with(model: @order, url:{:controller => 'deliveries', :action => 'update', :id => params[:id]} ,  local: true) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this roll from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<h1 class="container p-3 my-3 border text-center">Order ID: <%= @order.id%></h1>

  <%= form.hidden_field :delivered, value: true %>


  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>

