<body class="text-center">
  <%= form_with(model: order, local: true) do |form| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

        <ul>
          <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :customer_name, "Customer Name: " %>
      <%= form.text_field :customer_name %>
    </div>
    
    <div class="field container p-3 my-3 border text-center">
      <%= form.label :size, "Size: " %>
      <%= form.text_field :size %>
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :film_width, "Film Width: " %>
      <%= form.number_field :film_width %> CM
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :material, "Material: " %>
      <%= form.text_field :material %>
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :filler, "Filler: "%>
      <%= form.text_field :filler %> %
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :thickness, "Thickness: " %>
      <%= form.text_field :thickness %> Micron
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :specifications, "Specifications: " %>
      <%= form.text_field :specifications %>
    </div>


    <div class="field container p-3 my-3 border text-center">
      <%= form.label :order_weight_kg, "Order Weight: " %>
      <%= form.number_field :order_weight_kg %> KG
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :total_printed_kg, "Total Printed: "%>
      <%= form.number_field :total_printed_kg %> KG
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :total_boxes, "Total Boxes: " %>
      <%= form.number_field :total_boxes %>
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :gusset %>
      <%= form.check_box :gusset %>
    </div>

    <div class="field container p-3 my-3 border text-center">
      <%= form.label :delivered %>
      <%= form.check_box :delivered %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</body>
