<p id="notice"><%= notice %></p>

<h1>Active Orders</h1>

<table class="table table-striped  table-hover table-bordered">
  <thead>
    <tr>
      <th>Order date</th>
      <th>Order ID</th>
      <th>Customer name</th>
      <th>Specifications</th>
      <th>Size</th>
      <th>Film Width In CM</th>
      <th>Height In CM</th>
      <th>pieces in KG </th>
      <th>Unit Weight</th>
      <th>Material</th>
      <th>Masterbatch</th>
      <th>Filler</th>
      <th>Thickness</th>
      <th>Specifications</th>
      <th>Order weight kg</th>
      <th>Film to produce kg</th>
      <th>Packing Weight kg</th>
      <th>Total Film Made</th>
      <th>Total Printed Weight</th>
      <th>Print Complete</th>
      <th>Total boxes</th>
      <th>Gusset</th>
      <th>Delivered</th>
      <th>Delivered Quantity</th>
      <th>Reference Number/ PO</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.created_at %></td>
        <td><%= order.id %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.specifications %></td>
        <td><%= order.size %></td>
        <td><%= order.film_width %> CM</td>
        <td><%= order.height %> CM</td>
        <td><%= calculate_pieces_per_kg(order.thickness, order.film_width, order.height) %> Pieces</td>
        <td><%= calculate_unit_weight(order.thickness, order.film_width, order.height) %> g</td>
        <td><%= order.material %></td>
        <td><%= order.masterbatch %></td>
        <td><%= order.filler %> %</td>
        <td><%= order.thickness %> Micron</td>
        <td><%= order.specifications %></td>
        <td><%= order.order_weight_kg %> KG</td>
        <td><%= order.film_to_produce %> KG</td>
        <td><%= order.packing_weight %> KG</td>
        <td><%= order.total_film_made %> KG</td>
        <td><%= order.total_printed_weight %> KG</td>
        <td><%= order.print_complete %></td>
        <td><%= order.total_boxes %></td>
        <td><%= order.gusset %></td>
        <td><%= order.delivered %></td>
        <td><%= order.delivered_quantity %> KG</td>
        <td><%= order.reference_number %></td>

        <td> 
          <%= link_to order do %>
            <button class="btn btn-outline-info">Order Details</button>
          <% end %>
        </td>

        <td> 
          <%= link_to edit_order_path(order) do %>
            <button class="btn btn-outline-warning">Edit Order</button>
          <% end %>
        </td>

        <td> 
          <%= link_to order, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-outline-danger">Delete Order</button>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>


<%= link_to new_order_path do %>
  <button class="btn btn-success">New Order</button>
<% end %>
