<h1>Active Film Orders</h1>

<table class="table table-striped  table-hover table-bordered">
  <thead>
    <tr class="text-center">
      <th>Customer</th>
      <th>Material</th>
      <th>Masterbatch</th>
      <th>Film Width</th>
      <th>Height</th>
      <th>Thickness</th>
      <th>Unit Weight</th>
      <th>Filler</th>
      <th>Order weight</th>
      <th>Total Film Made</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="text-center">
        <td><%= order.customer_name %></td>
        <td><%= order.material %></td>
        <td><%= order.masterbatch %></td>
        <td><%= order.film_width %> CM</td>
        <td><%= order.height %> CM</td>
        <td><%= order.thickness %> Micron</td>
        <td><%= calculate_unit_weight(order.thickness, order.film_width, order.height) %> g</td>
        <td><%= order.filler %> %</td>
        <td><%= order.order_weight_kg %> KG</td>
        <td><%= order.total_film_made %> KG</td>

        <td> 
          <%= link_to new_order_roll_path(order_id: order.id) do %>
            <button class="btn btn-outline-success">New Roll</button>
          <% end %>
        </td>

        <td> 
          <%= link_to order do %>
            <button class="btn btn-outline-info" >Order Details</button>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>