<p id="notice"><%= notice %></p>

<h1>Active Cutting Orders</h1>

<table class="table table-striped  table-hover table-bordered">
  <thead>
    <tr class="text-center">
      <th>Order date</th>
      <th>Customer</th>
      <th>Size</th>
      <th>Specifications</th>
      <th>Order weight</th>
      <th>Total Boxes Complete</th>
      <th>Total Boxed Weight</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="text-center">
        <td><%= order.created_at %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.size %></td>
        <td><%= order.specifications %></td>
        <td><%= order.order_weight_kg %> KG</td>
        <td><%= order.total_boxes %> Boxes</td>
        <td><%= order.total_boxed_weight %> KG</td>

        <td> 
          <%= link_to cuttings_view_path(order_id: order.id) do %>
            <button class="btn btn-outline-success">Cut Roll</button>
          <% end %>
        </td>

        <td> 
          <%= link_to order do %>
            <button class="btn btn-outline-info" >Order Details</button>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
