<h1>Roll ID: <%= @roll.id%></h1>



<%= form_with(model: [@order, @roll], url: @path,  local: true) do |form| %>
  <% if @roll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roll.errors.count, "error") %> prohibited this roll from being saved:</h2>

      <ul>
        <% roll.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<div class="container p-3 my-3 border text-center">
    <%= form.label :roll_print_complete %>:
    <%= form.check_box  :roll_print_complete, {checked: true} %>
  </div>

  <div class="container p-3 my-3 border text-center">
    <%= form.label :printed_weight %>:
    <%= form.number_field :printed_weight %> KG
  </div>

  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>
