<h1>Printings#show</h1>
<p>Find me in app/views/printings/show.html.erb</p>


<p id="notice"><%= notice %></p>

<h1>Rolls</h1>

<table class="table table-striped  table-hover table-bordered">
  <thead>
    <tr>
      <th>Roll ID</th>
      <th>Order ID</th>
      <th>Roll weight</th>
      <th>Ink complete</th>
      <th>Operator name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rolls.each do |roll| %>
      <tr>
        <td><%= roll.id %></td>
        <td><%= roll.order_id %></td>
        <td><%= roll.roll_weight %></td>
        <td><%= roll.roll_print_complete %></td>
        <td><%= roll.operator_name %></td>

        <td> 
          <%= link_to roll do %>
            <button class="btn btn-outline-info">Order Details</button>
          <% end %>
        </td>

        <td> 
          <%= link_to edit_roll_path(roll) do %>
            <button class="btn btn-outline-warning">Edit Order</button>
          <% end %>
        </td>

        <td> 
          <%= link_to roll, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <button class="btn btn-outline-danger">Delete Order</button>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>

