<%= form_with(model: [@order, @roll], url: order_rolls_path, local: true) do |form| %>
  <% if roll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roll.errors.count, "error") %> prohibited this roll from being saved:</h2>

      <ul>
        <% roll.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%
=begin%>
 <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div> 
<%
=end%>

<%= hidden_field_tag :order_id, params[:order_id] %>

  <div class="field">
    <%= form.label :machine_number %>
    <%= form.number_field :machine_number %>
  </div>

  <div class="field">
    <%= form.label :roll_weight %>
    <%= form.number_field :roll_weight %>
  </div>


  <div class="field">
    <%= form.label :operator_name %>
    <%= form.text_field :operator_name %>
  </div>

  <%
=begin%>
 <div class="field">
    <%= form.label :ink_complete %>
    <%= form.check_box :ink_complete %>
  </div>

  <div class="field">
    <%= form.label :gusset_complete %>
    <%= form.check_box :gusset_complete %>
  </div>

  <div class="field">
    <%= form.label :cut_complete %>
    <%= form.check_box :cut_complete %>
  </div> 
<%
=end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
