<%= form_with(model: [@order, @roll], url: @path,  local: true) do |form| %>
  <% if roll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roll.errors.count, "error") %> prohibited this roll from being saved:</h2>

      <ul>
        <% roll.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%
=begin%>
 <div class="field">
    <%= form.label :order_id %>
    <%= form.text_field :order_id %>
  </div> 
<%
=end%>

<%= hidden_field_tag :order_id, params[:order_id] %>

  <div class="container p-3 my-3 border text-center">
  
    <%= form.label :machine_number %>:
    <%= form.select(:machine_number, options_for_select([['M-1', 1], ['M-2', 2], ['M-3', 3], ['M-4', 4], ['M-5', 5]])) %>
  
  </div>

  <div class="container p-3 my-3 border text-center">
    <%= form.label :roll_weight %>:
    <%= form.number_field :roll_weight %> KG
  </div>


  <div class="container p-3 my-3 border text-center">
    <%= form.label :operator_name %>:
    <%= form.text_field :operator_name %>
  </div>

  <%
=begin%>
 <div class="field">
    <%= form.label :roll_print_complete %>
    <%= form.check_box :roll_print_complete %>
  </div>

  <div class="field">
    <%= form.label :gusset_complete %>
    <%= form.check_box :gusset_complete %>
  </div>

  <div class="field">
    <%= form.label :roll_cut_complete %>
    <%= form.check_box :roll_cut_complete %>
  </div> 
<%
=end%>

  <div class="actions text-center">
    <%= form.submit %>
  </div>
<% end %>
