<p id="notice"><%= notice %></p>

<h1>Rolls</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Machine number</th>
      <th>Roll weight</th>
      <th>Ink complete</th>
      <th>Gusset complete</th>
      <th>Cut complete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rolls.each do |roll| %>
      <tr>
        <td><%= roll.order_id %></td>
        <td><%= roll.machine_number %></td>
        <td><%= roll.roll_weight %></td>
        <td><%= roll.ink_complete %></td>
        <td><%= roll.gusset_complete %></td>
        <td><%= roll.cut_complete %></td>
        <td><%= link_to 'Show', roll %></td>
        <td><%= link_to 'Edit', edit_roll_path(roll) %></td>
        <td><%= link_to 'Destroy', roll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roll', new_roll_path %>
