<p id="notice"><%= notice %></p>

<body class="text-center">
  <H1>
    <strong>Roll ID:</strong>
    <%= @roll.id %>
  </H1>


  <div class="container-fluid p-3 my-2 border">
    <strong>Order ID:</strong>
    <%= @roll.order_id %>
  </div>
  
  <div class="container-fluid p-3 my-2 border">
    <strong>Machine number:</strong>
    <%= @roll.machine_number %>
  </div>

  <div class="container-fluid p-3 my-1 border">
    <strong>Film weight:</strong>
    <%= @roll.roll_weight %> KG
  </div>

  <div class="container-fluid p-3 my-2 border">
    <strong>Printed Weight:</strong>
    <%= @roll.printed_weight %> KG
  </div>

  <div class="container-fluid p-3 my-2 border">
    <strong>Gusset complete:</strong>
    <%= @roll.gusset_complete %>
  </div>

  <div class="container-fluid p-3 my-2 border">
    <strong>Cut complete:</strong>
    <%= @roll.cut_complete %>
  </div>

  <div class="container-fluid p-3 my-2 border">
    <strong>Operator name:</strong>
    <%= @roll.operator_name %>
  </div>

  <%= link_to edit_roll_path(@roll) do %>
      <button class="btn btn-warning btn-lg">Edit</button>
    <% end %>
    
    |
    
    <%= link_to films_path do %>
      <button class="btn btn-success btn-lg">Films</button>
    <% end %>

    |

    <%= link_to printings_path do %>
      <button class="btn btn-success btn-lg">Printing</button>
    <% end %>

    |

    <%= link_to  do %>
      <button class="btn btn-success btn-lg">Cutting</button>
    <% end %>
</body>
