<p id="notice"><%= notice %></p>

<body class="text-center">
  <H1>
    <strong>Roll ID:</strong>
    <%= @roll.id %>
  </H1>


  <div class="container-fluid p-3 my-2 border">
    <strong>Order:</strong>
    <%= @roll.order_id %>
  </div>
  <div class="container-fluid p-3 my-2 border">
    <strong>Machine number:</strong>
    <%= @roll.machine_number %>
  </div>

  <div class="container-fluid p-3 my-1 border">
    <strong>Roll weight:</strong>
    <%= @roll.roll_weight %>
  </div>

  <div class="container-fluid p-3 my-2 border">
    <strong>Ink complete:</strong>
    <%= @roll.ink_complete %>
  </div>

  <div class="container-fluid p-3 my-2 border">
    <strong>Gusset complete:</strong>
    <%= @roll.gusset_complete %>
  </div>

  <div class="container-fluid p-3 my-2 border">
    <strong>Cut complete:</strong>
    <%= @roll.cut_complete %>
  </div>

  <div class="container-fluid p-3 my-2 border">
    <strong>Operator name:</strong>
    <%= @roll.operator_name %>
  </div>

  <button type="button" class="btn btn-warning btn-lg">
    <%= link_to 'Edit', edit_roll_path(@roll) %> 
  </button> |

  <button type="button" class="btn btn-success btn-lg">
    <%= link_to 'Done', films_path %>
  </button>
</body>
